body{
 position:absolute;
 width:100%;
 height:100%;
 margin:0px;
}

#background-container{
	width:100%;
	height:100%;
	background-image: url('photos/example.jpg');
  	background-repeat: no-repeat;
  	background-position: center;
}

#background-image{
	width:100%;
	min-height:80%;
	position:absolute;

}

#screen{
	position:absolute;
	background-color:#1a1a1a;
	width:50vw;
	height:55vh;
	left:23vw;
	top:10vh;
	border:solid;
	border-width:20px;
	border-color:black;
	border-radius:1vw;
	z-index:1;
}

/*#stand{
	position:absolute;
	width:15vw;
	height:13vh;
	background-color:black;
	left:42vw;
	border:solid;
	border-radius:10vw;
	top:65vh;*/
}

video{
  z-index: -100;
  overflow:hidden;
}

#channel1{
	position:absolute;
	z-index:1;
	opacity:0;
}

#channel2{
	position:absolute;
	z-index:5;
	opacity:0;
}

#channel3{
	position:absolute;
	z-index:10;
	opacity:0;

}





