
           html, body{
                width:100%;
                height:100%;
                margin:0;
                font-family:futura;
                font-style:normal;
                font-family:gillsans;
            }

            *{
                box-sizing:border-box;
            }

            #background{
                z-index: 1;
                width:100%;
                height:100%;
                opacity:.8;
                overflow: hidden;

            }

           .shape{

                color:white;
                position:absolute;
                background-color:white;

                border-width:12px;
                border-color:#f8f8ff #f5f5f5 #cdc9c9 #eee9e9;
                border-style:solid;
                box-shadow:1px 3px 35px black;
                z-index:1;

                animation-name: scaleY;
                animation-duration: 50s;
                animation-iteration-count:infinite;
                animation-direction:alternate;
                transition-timing-function: linear;
           }


            .shape:active{
                animation-name:press;
                animation-duration:5s;
                transition: 5s;
                transition-timing-function: linear;

            }


            #one{
                width:30vw;
                height:26vh;
                left:-5vw;
                top:8vh;

            }
            #two{
                width:20vw;
                height:48vh;
                left:0vw;
                top:47vh;
            }

            #three{
                width:23vw;
                height:37vh;
                left:32vw;
                top:77vh;
            }

            #four{
                width:25vw;
                height:46vh;
                left:45vw;
                top:15vh;
            }

            #five{
                width:27vw;
                height:22vh;
                left:53vw;
                top:57vh;
            }

            #six{
                width:30vw;
                height:40vh;
                left:67vw;
                top:32vh;
            }

            #seven{
                width:43vw;
                height:29vh;
                left:15vw;
                top:63vh;
            }

            #eight{
                width:30vw;
                height:26vh;
                color:black;

                left:5vw;
                top:-5vh;
                z-index:2;
            }
            #nine{
                width:20vw;
                height:48vh;

                left:28vw;
                top:30vh;
            }

            #ten{
                width:23vw;
                height:37vh;

                left:70vw;
                top:77vh;
            }

            #eleven{
                width:33vw;
                height:25vh;
                z-index:0;

                left:45vw;
                top:7vh;
            }

            #twelve{
                width:28vw;
                height:23vh;

                left:59vw;
                top:2vh;
            }

            #thirteen{
                width:38vw;
                height:40vh;

                left:71vw;
                top:-3vh;
            }

            #fourteen{
                width:43vw;
                height:45vh;

                left:5vw;
                top:10vh;
                z-index:0;
            }

            #fifteen{
                width:15vw;
                height:29vh;
                left:20vw;
                top:80vh;
                z-index:1;
            }

            #sixteen{
                width:40vw;
                height:26vh;

                left:40vw;
                top:87vh;
                z-index:-1;
            }
            #seventeen{
                width:20vw;
                height:48vh;

                left:89vw;
                top:0vh;
                z-index:0;
            }

            #eighteen{
                width:23vw;
                height:37vh;

                left:80vw;
                top:50vh;
                z-index:0;
            }

            #nineteen{
                width:17vw;
                height:46vh;

                left:24vw;
                top:0vh;
            }

            #twenty{
                width:27vw;
                height:22vh;

                right:-5vw;
                top:43vh;
            }


            #twentyone{
                width:38vw;
                height:40vh;

                left:0vw;
                top:80vh;

                z-index:0;
            }

            #twentytwo{
                width:15vw;
                height:45vh;

                left:50vw;
                top:47vh;
                z-index:0;
            }


            #twentythree{
                width:21vw;
                height:46vh;

                left:2vw;
                top:30vh;
                z-index:-3;
            }

            #twentyfour{
                width:27vw;
                height:22vh;

                right:-10vw;
                bottom:0vh;
            }


            #twentyfive{
                width:35vw;
                height:28vh;

                left:25vw;
                top:-3vh;

                z-index:-3;
            }

            #twentysix{
                width:43vw;
                height:45vh;

                left:53vw;
                top:5vh;
                z-index:-1;
            }


    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {


            #one{
                width:30vh;
                height:26vw;
                left:-5vw;
                top:8vh;

            }
            #two{
                width:20vh;
                height:48vw;
                left:0vw;
                top:47vh;
            }

            #three{
                width:23vh;
                height:37vw;
                left:32vw;
                top:77vh;
            }

            #four{
                width:25vh;
                height:46vw;
                left:45vw;
                top:15vh;
            }

            #five{
                width:27vh;
                height:22vw;
                left:53vw;
                top:57vh;
            }

            #six{
                width:30vh;
                height:40vw;
                left:67vw;
                top:32vh;
            }

            #seven{
                width:43vh;
                height:29vw;
                left:15vw;
                top:63vh;
            }

            #eight{
                width:30vh;
                height:26vw;
                color:black;

                left:5vw;
                top:-5vh;
                z-index:2;
            }
            #nine{
                width:20vh;
                height:48vw;

                left:28vw;
                top:30vh;
            }

            #ten{
                width:23vh;
                height:37vw;

                left:70vw;
                top:77vh;
            }

            #eleven{
                width:33vh;
                height:25vw;
                z-index:0;

                left:45vw;
                top:7vh;
            }

            #twelve{
                width:28vh;
                height:23vw;

                left:59vw;
                top:2vh;
            }

            #thirteen{
                width:38vh;
                height:40vw;

                left:71vw;
                top:-3vh;
            }

            #fourteen{
                width:43vh;
                height:45vw;

                left:5vw;
                top:10vh;
                z-index:0;
            }

            #fifteen{
                width:15vh;
                height:29vw;
                left:20vw;
                top:80vh;
                z-index:1;
            }

            #sixteen{
                width:40vh;
                height:26vw;

                left:40vw;
                top:87vh;
                z-index:-1;
            }
            #seventeen{
                width:20vh;
                height:48vw;

                left:89vw;
                top:0vh;
                z-index:0;
            }

            #eighteen{
                width:23vh;
                height:37vw;

                left:80vw;
                top:50vh;
                z-index:0;
            }

            #nineteen{
                width:17vh;
                height:46vw;

                left:24vw;
                top:0vh;
            }

            #twenty{
                width:27vh;
                height:22vw;

                right:-5vw;
                top:43vh;
            }


            #twentyone{
                width:38vh;
                height:40vw;

                left:0vw;
                top:80vh;

                z-index:0;
            }

            #twentytwo{
                width:15vh;
                height:45vw;

                left:50vw;
                top:47vh;
                z-index:0;
            }


            #twentythree{
                width:21vh;
                height:46vw;

                left:2vw;
                top:30vh;
                z-index:-3;
            }

            #twentyfour{
                width:27vh;
                height:22vw;

                right:-10vw;
                bottom:0vh;
            }


            #twentyfive{
                width:35vh;
                height:28vw;

                left:25vw;
                top:-3vh;

                z-index:-3;
            }

            #twentysix{
                width:43vh;
                height:45vw;

                left:53vw;
                top:5vh;
                z-index:-1;
            }

            @keyframes scaleY {
                from{
                    transform: scale(.8);
                    border-width:0px 1px 1px 1px;
                    transition-timing-function: linear;
                }
                to{
                    transform: scale(1.3);
                    border-width:0px 15px 35px 25px;
                    border-color:none none #808080 none;
                    border-color:#f8f8ff #f5f5f5 linear-gradient(white, #999999) #eee9e9;
                    transition-timing-function: linear;
                }

            }
        }










    @media screen 
      and (min-device-width: 1200px) 
      and (max-device-width: 1600px) {

            @keyframes scaleY {
                from{
                    transform: scale(.9);
                    border-width:0px 1px 1px 1px;
                    transition-timing-function: linear;
                }
                to{
                    transform: scale(1.8);
                    border-width:0px 30px 70px 50px;
                    border-color:none none #808080 none;
                    border-color:#f8f8ff #f5f5f5 linear-gradient(white, #999999) #eee9e9;
                    transition-timing-function: linear;

                }

            @keyframes press {
                from{}
                to{ 
                    transform: scale(.7);
                    background-color:blue;
                }
            }

    }

